$body-bg: #ed944d;
$body-color: rgb(64, 64, 64);
$dark: rgb(64, 64, 64);
$font-family-sans-serif: "Inter";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./sidenav.scss";
@import "./hero.scss";
@import "./projects.scss";
@import "./about.scss";
@import "./contact.scss";

.navbar-collapse {
  justify-content: flex-end;
  margin-right: 100px;
}

.navbar {
  font-family: "Space Mono", monospace;
}

.navbar-orange {
  background-color: #ed944d;
}

.nav-btn-resume {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid #414040;
  color: #414040;
  cursor: pointer;
  border-radius: 3px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.scrollspy-top {
  height: 70px;
}

.hero-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0.5;
  z-index: -1;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
